@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body,
header,
nav,
main,
section,
footer,
div,
article,
blockquote,
input,
button,
ul,
ol,
dl,
dt,
dd,
li,
q,
h1,
h2,
h3,
h4,
h5,
h6,
img,
p,
a,
span {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  display: block;
}

button,
form,
input,
ul,
li,
a {
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  list-style-type: none;
}

* {
  font-size: 1rem;
  font-weight: 300;
}

html {
  line-height: 1;
}
