[data-body="head"] {
  transform-style: preserve-3d;
  display: flex;
  position: relative;
}

/* Animation Properties */

[data-steve].negating [data-body="head"] {
  transform: rotateY(10deg);
  animation: head-negating linear 0.6s infinite both;
}

[data-steve].accepting [data-body="head"] {
  transform: rotateX(10deg);
  animation: head-accepting linear 0.6s infinite both;
}

/* Position Properties */

[data-head] {
  width: 64px;
  height: 64px;
  pointer-events: none;
}

[data-head]:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}

[data-head="front"] {
  transform: translate3d(0, 0, 32px);
}

[data-head="back"] {
  transform: translate3d(0, 0, -32px);
}

[data-head="left"] {
  transform: translate3d(-50%, 0, 0) rotateY(-90deg);
}

[data-head="right"] {
  transform: translate3d(50%, 0, 0) rotateY(90deg);
}

[data-head="top"] {
  transform: translate3d(0, -50%, 0) rotateX(90deg);
}

[data-head="bottom"] {
  transform: translate3d(0, 50%, 0) rotateX(-90deg);
}

/* Head Animations */

@keyframes head-negating {
  50% {
    transform: rotateY(-10deg);
  }
}

@keyframes head-accepting {
  50% {
    transform: rotateX(-10deg);
  }
}
