.tasks {
  padding: 3rem;

  grid-column: 2 / -1;
  grid-row: 2 / -1;
}

.taskList {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.taskField {
  isolation: auto;
  flex: 1;
}

.fieldHeading {
  display: flex;
  gap: 0.625rem;
  align-items: center;
  cursor: pointer;
}

.fieldHeadingLegend {
  font: 700 1.5rem 'Poppins';
  color: #ffffff;
}

.fieldHeadingLine {
  flex: 1;
  background-color: #353535;
  height: 1px;
}

.fieldList {
  display: flex;
  gap: 1.5rem;
  padding: 0.5rem;
}

.task {
  padding: 1.5rem;
  transition: all 0.2s ease 0s;

  background-color: #1e1e1e;
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  width: 100%;

  position: relative;
}

.taskLevel {
  width: 0.125rem;
  height: 4rem;

  border-radius: 0.625rem;

  position: absolute;
  top: calc(50% - 2rem);
  left: -0.5px;
}

.taskInfo {
  isolation: auto;
}

.taskInfoDate {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font: 600 0.625rem 'Poppins';
  color: #626262;
  margin-bottom: 0.5rem;
}

.taskInfoName {
  font: 600 1rem 'Poppins';
  color: #fff;
  margin-bottom: 0.5rem;
}

.taskInfoTags {
  display: flex;
  gap: 0.5rem;
}

.taskTag {
  font: 600 0.75rem 'Poppins';
  padding: 0.125rem 0.375rem;
  border-radius: 0.25rem;
}

.taskMenu {
  align-self: flex-start;
  cursor: pointer;
  padding: 0.5rem;
  position: relative;
}

.taskMenuTrigger {
  cursor: pointer;
}

.taskNav {
  border-radius: 0.5rem;
  position: absolute;
  top: 100%;
  width: 250px;
  left: -100%;
  padding: 2rem 0rem;
  z-index: 2;
}

.taskNavLink {
  gap: 1.5rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  font: 600 1rem 'Poppins';
  color: #fff;
  width: 100%;
  background: #1e1e1e;
  transition: background 0.2s ease 0s, opacity 0.2s ease 0s;
  cursor: pointer;
}

.taskNavLink:nth-child(1) {
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.taskNavLink:nth-child(3) {
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}

.taskNavLink:hover,
.taskNavLink:focus {
  background: #343434;
}

.taskNavLink:active {
  opacity: 0.5;
}

.tasks::-webkit-scrollbar-thumb {
  background-color: var(--brandBlue);
  background: linear-gradient(180deg, #ff59f8 0%, #ae72ff 19.79%, #90e9ed 40.62%, #5cd167 61.98%, #ffee00 82.53%);
  padding: 1rem;
}

.tasks::-webkit-scrollbar-track {
  background-color: #111;
  padding: 1rem;
}

.tasks::-webkit-scrollbar {
  background: #111;
  width: 0.115rem;
}

.fieldList::-webkit-scrollbar-thumb {
  background-color: var(--brandBlue);
  background: linear-gradient(90deg, #ff59f8 0%, #ae72ff 19.79%, #90e9ed 40.62%, #5cd167 61.98%, #ffee00 82.53%);
  padding: 0.5rem;
}

.fieldList::-webkit-scrollbar-track {
  background-color: #111;
  padding: 0.5rem;
}

.fieldList::-webkit-scrollbar {
  background: #111;
  width: 0.115rem;
  height: 0.115rem;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #131313;
}

.loadingIcon {
  max-width: 2rem;
  animation: rotate 1.5s cubic-bezier(0.7, 0, 0.3, 1) 0s infinite normal both;
}

@keyframes rotate {
  0% {
    rotate: z 0deg;
  }

  100% {
    rotate: z 360deg;
  }
}
