.dashboard {
  width: 100%;
  height: 100vh;
  background-color: #131313;
  display: grid;
  grid: auto 1fr / 350px 1fr;
  position: relative;
}

.transition {
  grid-column: 2 / -1;
  grid-row: 2 / -1;

  display: grid;

  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9;
}

.transitionCover {
  background: #0075ff;
  width: 100%;
  height: 0%;
  pointer-events: none;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.transitionMessage {
  font: 600 3rem 'Poppins';
  color: #fff;
  white-space: nowrap;
}

.transitionMessage strong {
  font: 600 3rem 'Poppins';
  color: #131313;
  white-space: nowrap;
}

.loading {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  background: #131313;
}

.loadingIcon {
  animation: rotate 1.5s cubic-bezier(0.7, 0, 0.3, 1) 0s infinite normal both;
}

@keyframes rotate {
  0% {
    rotate: z 0deg;
  }

  100% {
    rotate: z 360deg;
  }
}
