@import url(./reset-styles.css);
@import url(./responsivo-check.css);


:root {
  --defFont: "Raleway";
  --altFont: "Inter";
  --space: "Space Grotesk";
}

/* Header */

#header {
  background: #f2f3f9;
  position: relative;
}

#header::before {
  content: "";
  display: block;
  background: #fff;
  width: 100%;
  height: 2px;
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
}

#header-nav {
  max-width: 1440px;
  padding: 2.5rem 7rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#header-nav::after {
  content: "👉 ️ 100% FREE  ";
  color: #f04264;
  display: block;
  font: 600 13px var(--defFont);
  background: #fdfdfd;
  padding: 0.5rem 1rem;
  position: absolute;
  border-radius: 100vmax;
  top: 100%;
  transform: translate3d(0, -50%, 0);
}

#header-nav-links {
  display: flex;
  gap: 2.125rem;
  align-items: center;
}

.header-nav-links-item:first-child {
  margin-right: 9.5rem;
}

/* Section Curso */

#s-curso-wrapper {
  background: #f2f3f9;
}

#s-curso {
  max-width: 1440px;
  padding: 4rem 7rem 11.25rem 7rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s-curso-info-h1 {
  font: 800 4rem var(--defFont);
  color: #1c1c1f;
  margin-bottom: 2rem;
  position: relative;
}

.s-curso-info-h1-spn {
  font: 800 4rem var(--defFont);
  color: #1c1c1f;
  margin-bottom: 2rem;
  position: relative;
  z-index: 2;
}

.s-curso-info-h1::before {
  content: "";
  width: 85%;
  height: 8px;
  background: #f7b40d;
  display: block;
  position: absolute;
  top: 90%;
  left: 2%;
}

.s-curso-info-h1::after {
  content: url(../img/svg/star-vector.svg);
  display: block;
  position: absolute;
  top: -10%;
  left: 100%;
}

.s-curso-info-p {
  font: 400 1.125rem var(--altFont);
  color: #606272;
  line-height: 160%;
  max-width: 530px;
  margin-bottom: 2.5rem;
}

.s-curso-info-p strong {
  font-weight: 600;
}

#s-curso-info-form {
  padding: 0.625rem 1rem;
  border-radius: 100vmax;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #fdfdfd;
  box-shadow: 0px 15px 30px -10px rgba(204, 206, 219, 0.4);
  margin-bottom: 3.5rem;
}

#s-curso-input-email {
  font: 500 1rem var(--altFont);
  color: #989ba7;
  line-height: 150%;
  padding: 0 1rem;
}

#s-curso-input-btn {
  font: 500 0.875rem var(--defFont);
  color: #fdfdfd;
  line-height: 150%;
  background: #1c1c1f;
  border-radius: 100vmax;
  padding: 1rem 1.75rem;
}

#s-curso-info-list {
  display: flex;
  gap: 2rem;
  margin-bottom: 3.75rem;
  align-items: center;
}

#s-curso-info-profiles {
  display: flex;
  align-items: center;
}

.s-curso-info-profiles-people {
  width: 32px;
  height: 32px;
  border-radius: 100vmax;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s-curso-info-profiles-people img {
  max-width: 85%;
  max-height: 85%;
  border-radius: 50%;
}

.s-curso-info-profiles-people:not(:first-child) {
  margin-left: -10px;
}

.s-curso-info-profiles-rating {
  margin-left: 1rem;
}

.s-curso-info-profiles-rating span {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  font: 400 0.75rem var(--altFont);
  color: #666671;
}

.s-curso-illust-img {
  max-width: 100%;
}

/* Section Cards */

#s-cards {
  max-width: 1440px;
  padding: 0rem 7rem;
  margin: 0 auto;
  display: flex;
  position: relative;
}

#s-cards-list {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  transform: translate3d(0, -50%, 0);
}

.s-cards-list-item {
  flex: 1;
  border-radius: 0.75rem;
  background: #fdfdfd;
  box-shadow: 0px 24px 44px -11px rgba(181, 183, 192, 0.3);
  padding: 2.75rem 2.875rem;
}

.s-cards-list-icon {
  margin-bottom: 1.875rem;
}

.s-cards-list-h2 {
  font: 800 1.375rem var(--defFont);
  color: #1c1c1f;
  line-height: 150%;
  margin-bottom: 0.125rem;
}

.s-cards-list-p {
  font: 400 1rem var(--altFont);
  color: #606272;
  line-height: 160%;
}
